{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<link href="{{asset('./assets/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
{% endblock %}
{% block title %}TProductes index{% endblock %}

{% block body %}
    <h1>TProductes index</h1>
    {% if maxPages > 1 %}
    <ul class="pagination">
        {% if thisPage > 1 %}
            <li class="page-item" >
                <a class="page-link" aria-label="previous" href="{{ path('t_clients_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
            </li>
        {% endif %}
        <li class="page-item ">
                <a class="page-link" href="{{ path('t_clients_index', {page: 2}) }}">Primera</a>
            </li>

        {# Render each page number #}
        {% for i in thisPage.. thisPage + 5 %}
            {% if i <= maxPages %}
            <li class="page-item {% if thisPage == i %} active {% endif %}">
                <a class="page-link" href="{{ path('t_clients_index', {page: i}) }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
<li class="page-item ">
                <a class="page-link" href="{{ path('t_clients_index', {page: maxPages}) }}">Última</a>
            </li>
        {# `»` arrow #}
        {% if thisPage < maxPages %}
            <li class="page-item" >
                <a class="page-link" aria-label="next"  href="{{ path('t_clients_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
            </li>
        {% endif %}
    </ul>
    
    
{% endif %}
    <div class="table-responsive table-responsive-data2 table--no-card m-b-30">
    
    <table class="table table-data2 table-borderless table-striped table-hover">
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Nombre Corto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        <tr>
                <td><select id="tProductes" class="form-control" name="numProf"><option placeholder="Bscar Proforma">Empieza a buscar...</option></select></td>
                <td></td>
                <td>
                </td>
            </tr>
        {% for t_producte in t_productes %}
            <tr>
                <td>{{ t_producte.refProd }}</td>
                <td>{{ t_producte.nomProdCurt }}</td>
                <td>
                    <a href="{{ path('t_productes_show', {'idProd': t_producte.idProd}) }}">Ver</a>
                    <a href="{{ path('t_productes_edit', {'idProd': t_producte.idProd}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">No se han encontrado productos.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('t_productes_new') }}">Añadir nuevo</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset("./assets/vendor/select2/select2.min.js")}}"></script>
    <script src="{{ asset('assets/js/addCollectionForm.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#tProductes').select2({
        minimumInputLength: 3,
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    prod: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });

    $("#tFraProformaFilter").on("change", function(){
        window.location = "/t/clients/"+this.value+"/edit";
        
    })
    })
    </script>
    
{% endblock %}
