{% extends 'base.html.twig' %}

{% block title %}TPreciosCantidad index{% endblock %}

{% block body %}
    <h1>TPreciosCantidad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_precios_cantidad in t_precios_cantidads %}
            <tr>
                <td>{{ t_precios_cantidad.id }}</td>
                <td>{{ t_precios_cantidad.cantidad }}</td>
                <td>{{ t_precios_cantidad.precio }}</td>
                <td>
                    <a href="{{ path('t_precios_cantidad_show', {'id': t_precios_cantidad.id}) }}">show</a>
                    <a href="{{ path('t_precios_cantidad_edit', {'id': t_precios_cantidad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_precios_cantidad_new') }}">Create new</a>
{% endblock %}
