{% extends 'base.html.twig' %}

{% block title %}TProveidors index{% endblock %}

{% block body %}
    <h1>TProveidors index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProv</th>
                <th>CodiProv</th>
                <th>NifProv</th>
                <th>Proveidor</th>
                <th>ProveidorCom</th>
                <th>NomProv</th>
                <th>CognomProv</th>
                <th>CarrecProv</th>
                <th>DirProv</th>
                <th>CodpProv</th>
                <th>PobProv</th>
                <th>TelProv</th>
                <th>FaxProv</th>
                <th>MobProv</th>
                <th>EmailProv</th>
                <th>WebProv</th>
                <th>DiaPag</th>
                <th>CcProv</th>
                <th>ObservacionsProv</th>
                <th>ActivitatProv</th>
                <th>Mailing</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_proveidor in t_proveidors %}
            <tr>
                <td>{{ t_proveidor.idProv }}</td>
                <td>{{ t_proveidor.codiProv }}</td>
                <td>{{ t_proveidor.nifProv }}</td>
                <td>{{ t_proveidor.proveidor }}</td>
                <td>{{ t_proveidor.proveidorCom }}</td>
                <td>{{ t_proveidor.nomProv }}</td>
                <td>{{ t_proveidor.cognomProv }}</td>
                <td>{{ t_proveidor.carrecProv }}</td>
                <td>{{ t_proveidor.dirProv }}</td>
                <td>{{ t_proveidor.codpProv }}</td>
                <td>{{ t_proveidor.pobProv }}</td>
                <td>{{ t_proveidor.telProv }}</td>
                <td>{{ t_proveidor.faxProv }}</td>
                <td>{{ t_proveidor.mobProv }}</td>
                <td>{{ t_proveidor.emailProv }}</td>
                <td>{{ t_proveidor.webProv }}</td>
                <td>{{ t_proveidor.diaPag }}</td>
                <td>{{ t_proveidor.ccProv }}</td>
                <td>{{ t_proveidor.observacionsProv }}</td>
                <td>{{ t_proveidor.activitatProv }}</td>
                <td>{{ t_proveidor.mailing ? 'Yes' : 'No' }}</td>
                <td>{{ t_proveidor.stock ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('t_proveidors_show', {'idProv': t_proveidor.idProv}) }}">show</a>
                    <a href="{{ path('t_proveidors_edit', {'idProv': t_proveidor.idProv}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_proveidors_new') }}">Create new</a>
{% endblock %}
