{% extends 'base.html.twig' %}

{% block title %}TComercials index{% endblock %}

{% block body %}
    <h1>TComercials index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdComercial</th>
                <th>CodiComercial</th>
                <th>NomComercial</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_comercial in t_comercials %}
            <tr>
                <td>{{ t_comercial.idComercial }}</td>
                <td>{{ t_comercial.codiComercial }}</td>
                <td>{{ t_comercial.nomComercial }}</td>
                <td>
                    <a href="{{ path('t_comercials_show', {'idComercial': t_comercial.idComercial}) }}">show</a>
                    <a href="{{ path('t_comercials_edit', {'idComercial': t_comercial.idComercial}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_comercials_new') }}">Create new</a>
{% endblock %}
