<div class='row'>
    <div class='col-2'>
    {{form_row(tFraproformaVto.instpag)}}
      
    </div>
    <div class='col-2'>
      {{form_row(tFraproformaVto.concepteVto)}}
    </div>
    <div class='col-2'>
      {{form_row(tFraproformaVto.instpagAux)}}
    </div>
    <div class='col'>
      {{form_row(tFraproformaVto.datapagVto)}}
    </div>
    <div class='col'>
      {{form_row(tFraproformaVto.importVto)}}
    </div>
    <div class='col'>
      {{form_row(tFraproformaVto.okbancVto)}}
    </div>
    <div class='col'>
      {{form_row(tFraproformaVto.importpagVto)}}
    </div>
    
  </div>