{% import _self as formMacros %}

{% macro printTfraProformaAuxForm(tFraproformaAux) %}
  <div class="TFraProformaAuxItem">
  {{ form_errors(tFraproformaAux) }}
    <div class="form-row">
      <div class="form-group col">
        {{form_widget(tFraproformaAux.numLinia)}}
      </div>
      <div class="form-group col-md-4">
        {{form_widget(tFraproformaAux.codprodProforma)}}
      </div>
      <div class="form-group col-md-4">
        {{form_widget(tFraproformaAux.descripprodProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.numunitProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.preuunitProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.preuProforma)}}
      </div>
      <div class="col">
              <a href="#" class="removeTFraProformaAux pull-right">
                  <span class="fa fa-close"></span>
              </a>
          </div>
    </div>
  </div>


{% endmacro %}{{ form_start(form) }}
<div class="row">
    <div class="col">
        <h1 class="title-1">Datos Cliente</h1>
        <div class="row">
            <div class="col">{{form_row(form.clientFraprof)}}</div>
            <div class="col">{{form_row(form.personaFraprof)}}</div>
        </div>
        
        <div class="row">
        <div class="col">{{form_row(form.numFraprof)}}</div>
        <div class="col">{{form_row(form.dataFraprof)}}</div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.numAutor)}}
            </div>
            <div class="col">
                {{form_row(form.nref)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.sref)}}
            </div>
        </div>
        
    </div>
    <div class="col">
        <div class="form-row justify-content-end">
            <div class="col-md-6 ">
            <div class="row">
            <div class="col">
            <h1 class="title-1">Detalles</h1></div></div>
                <div class="row">
                    <div class="col">{{form_row(form.ivaVar)}}</div>
                    <div class="col">{{form_row(form.iva)}}</div>
                </div>
                <div class="row">
                    <div class="col">{{form_row(form.reqVar)}}</div>
                    <div class="col">{{form_row(form.req)}}</div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form_row(form.baseImp)}}
                    </div>
                    <div class="col">
                        {{form_row(form.totalFra)}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<h3 class="title-2 mb-3">Conceptos</h3>
    <div class="col" id="TFraProformaAuxWrapper" data-prototype="{{ formMacros.printTfraProformaAuxForm(form.tFraproformaAuxes.vars.prototype)|e('html_attr') }}" data-index="{{ form.tFraproformaAuxes|length }}">
        {% for tFraproformaAux in form.tFraproformaAuxes %}
            
            {{ formMacros.printTfraProformaAuxForm(tFraproformaAux) }}
        {% endfor %}
    <button type="button"
        id="add-FraProfAux"
        class="btn btn-secondary mt-3 mb-3"
        data-list-selector="#FraProformaAux-fields-list">Afegir Concepte</button>
    </div>
    
        </ul>
        
        
        <div class="row">
        <div class="col">{{form_row(form.metodePag)}}</div>
        <div class="col">{{form_row(form.metpagAux)}}</div>
        <div class="col">{{form_row(form.importPendent)}}</div>
        <div class="col">{{form_row(form.importPagat)}}</div>
    </div>
        <h3 class="title-2 mb-3">Vencimientos</h3>
        
        <ul id="FraProformaVto-fields-list"
        data-prototype="{{ form_widget(form.tFraproformaVtos.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.tFraproformaVtos|length }}">
    {% for tFraproformaVto in form.tFraproformaVtos %}
           <li>{{ include('t_fraproforma_vto/_form.html.twig') }}</li>
    {% endfor %}
        </ul>
        <button type="button"
        id="add-FraProfVto"
        class="btn btn-secondary mt-3 mb-3"
        data-list-selector="#FraProformaVto-fields-list">Afegir Venciment</button>
        {{form_row(form.observFraprof)}}
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    

{{ form_end(form) }}


