{% import _self as formMacros %}

{% macro printTfraProformaAuxForm(tFraproformaAux) %}
  <div class="TFraProformaAuxItem">
  {{ form_errors(tFraproformaAux) }}
    <div class="form-row">
      <div class="form-group col">
        {{form_widget(tFraproformaAux.numLinia)}}
      </div>
      <div class="form-group col-md-4">
        {{form_widget(tFraproformaAux.codprodProforma)}}
      </div>
      <div class="form-group col-md-4">
        {{form_widget(tFraproformaAux.descripprodProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.numunitProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.preuunitProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.preuProforma)}}
      </div>
      <div class="">
              <a href="#" class="removeTFraProformaAux pull-right">
                  <span class="fa fa-close"></span>
              </a>
          </div>
    </div>
  </div>


{% endmacro %}
{% macro printTfraProformaVtoForm(TfraProformaVto) %}
  <div class="TFraProformaVtoItem">
  {{ form_errors(TfraProformaVto) }}
    <div class="form-row">
      <div class='col-2'>
    {{form_row(TfraProformaVto.instpag)}}
      
    </div>
    <div class='col-2'>
      {{form_row(TfraProformaVto.concepteVto)}}
    </div>
    <div class='col-2'>
      {{form_row(TfraProformaVto.instpagAux)}}
    </div>
    <div class='col'>
      {{form_row(TfraProformaVto.datapagVto)}}
    </div>
    <div class='col'>
      {{form_row(TfraProformaVto.importVto)}}
    </div>
    <div class='col'>
      {{form_row(TfraProformaVto.okbancVto)}}
    </div>
    <div class='col'>
      {{form_row(TfraProformaVto.importpagVto)}}
    </div>
      <div class="">
              <a href="#" class="removeTFraProformaVto pull-right">
                  <span class="fa fa-close"></span>
              </a>
          </div>
    </div>
  </div>


{% endmacro %}
{% macro printTfraProformaPlazosForm(tFraproformaPlazo) %}
  <div class="TFraProformaPlazoItem">
  {{ form_errors(tFraproformaPlazo) }}
    <div class='row'>
      <div class='col-6'>
        {{form_widget(tFraproformaPlazo,{"label":""})}}
      </div>
    </div>
    
  </div>


{% endmacro %}


{{ form_start(form) }}
<div class="row">
    <div class="col">
        <h1 class="title-1">Datos Cliente</h1>
        <div class="row">
            <div class="col">{{form_row(form.clientFraprof)}}</div>
            <div class="col">{{form_row(form.personaFraprof)}}</div>
        </div>
        
        <div class="row">
        <div class="col">{{form_row(form.numAutor)}}</div>
        <div class="col">{{form_row(form.dataFraprof)}}</div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.nref)}}
            </div>
            <div class="col">
                {{form_row(form.sref)}}
            </div>
        </div>
        
    </div>
    <div class="col">
        <div class="form-row justify-content-end">
            <div class="col-md-6 ">
            <div class="row">
            <div class="col">
            <h1 class="title-1">Detalles</h1></div></div>
                <div class="row">
                    <div class="col">{{form_row(form.ivaVar)}}</div>
                    <div class="col">{{form_row(form.iva)}}</div>
                </div>
                <div class="row">
                    <div class="col">{{form_row(form.reqVar)}}</div>
                    <div class="col">{{form_row(form.req)}}</div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form_row(form.baseImp)}}
                    </div>
                    <div class="col">
                        {{form_row(form.totalFra)}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<h3 class="title-2 mb-3">Plazos</h3>
        
    <div class="col" id="TFraProformaVtoWrapper" data-prototype="{{ formMacros.printTfraProformaPlazosForm(form.tFraproformaVtos.vars.prototype)|e('html_attr') }}" data-index="{{ form.tFraproformaVtos|length }}">
    
    {% for tFraproformaPlazo in form.tFraproformaPlazos %}
           {{ formMacros.printTfraProformaPlazosForm(tFraproformaPlazo) }}
    {% endfor %}
<h3 class="title-2 mb-3">Conceptos</h3>
    <div class="col" id="TFraProformaAuxWrapper" data-prototype="{{ formMacros.printTfraProformaAuxForm(form.tFraproformaAuxes.vars.prototype)|e('html_attr') }}" data-index="{{ form.tFraproformaAuxes|length }}">
        <div class="form-row">
      <div class="form-group col">
        Linea
      </div>
      <div class="form-group col-md-4">
        Producto
      </div>
      <div class="form-group col-md-4">
        Descripcion
      </div>
      <div class="form-group col">
        Cant
      </div>
      <div class="form-group col">
        Precio
      </div>
      <div class="form-group col">
        Total
      </div>
      <div class="">
          </div>
    </div>
        {% for tFraproformaAux in form.tFraproformaAuxes %}
            
            {{ formMacros.printTfraProformaAuxForm(tFraproformaAux) }}
        {% endfor %}
    <button type="button"
        id="add-FraProfAux"
        class="btn btn-secondary mt-3 mb-3"
        data-list-selector="#FraProformaAux-fields-list">Afegir Concepte</button>
    </div>        
        
        <div class="row">
        <div class="col">{{form_row(form.metodePag)}}</div>
        <div class="col">{{form_row(form.metpagAux)}}</div>
        <div class="col">{{form_row(form.importPendent)}}</div>
        <div class="col">{{form_row(form.importPagat)}}</div>
    </div>
        <h3 class="title-2 mb-3">Vencimientos</h3>
        
    <div class="col" id="TFraProformaVtoWrapper" data-prototype="{{ formMacros.printTfraProformaVtoForm(form.tFraproformaVtos.vars.prototype)|e('html_attr') }}" data-index="{{ form.tFraproformaVtos|length }}">
    {% for tFraproformaVto in form.tFraproformaVtos %}
           {{ formMacros.printTfraProformaVtoForm(tFraproformaVto) }}
    {% endfor %}
    <button type="button"
        id="add-FraProfVto"
        class="btn btn-secondary mt-3 mb-3"
        data-list-selector="#FraProformaVto-fields-list">Afegir Venciment</button>
        </div>
        
        {{form_row(form.observFraprof)}}
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    

{{ form_end(form) }}


