{{ form_start(form) }}
<div class="row">
    <div class="col">
        <h1 class="title-1">Datos Cliente</h1>
        <div class="row">
            <div class="col">{{form_row(form.clientFraprof)}}</div>
            <div class="col">{{form_row(form.personaFraprof)}}</div>
        </div>
        
        <div class="row">
        <div class="col">{{form_row(form.numFraprof)}}</div>
        <div class="col">{{form_row(form.dataFraprof)}}</div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.numAutor)}}
            </div>
            <div class="col">
                {{form_row(form.nref)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.sref)}}
            </div>
        </div>
        
    </div>
    <div class="col">
        <div class="form-row justify-content-end">
            <div class="col-md-6 ">
            <div class="row">
            <div class="col">
            <h1 class="title-1">Detalles</h1></div></div>
                <div class="row">
                    <div class="col">{{form_row(form.ivaVar)}}</div>
                    <div class="col">{{form_row(form.iva)}}</div>
                </div>
                <div class="row">
                    <div class="col">{{form_row(form.reqVar)}}</div>
                    <div class="col">{{form_row(form.req)}}</div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form_row(form.baseImp)}}
                    </div>
                    <div class="col">
                        {{form_row(form.totalFra)}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<h3 class="title-2 mb-3">Conceptos</h3>
<ul id="FraProformaAux-fields-list" 
        data-prototype='{{ include("t_fraproforma_aux/_form_proto.html.twig")|e }}'
        data-widget-tags="{{ '<li data-type="AUX"></li>'|e }}"
        data-widget-counter="{{ form.tFraproformaAuxes|length }}">
    {% for tFraproformaAux in form.tFraproformaAuxes %}
           <li data-type="AUX">{{ include('t_fraproforma_aux/_form.html.twig') }}</li>
           {# <li>{{ form_row(tFraproformaAux) }}</li> #} 
    {% endfor %}
        </ul>
        <button type="button"
        id="add-FraProfAux"
        class="btn btn-secondary mt-3 mb-3"
        data-list-selector="#FraProformaAux-fields-list">Afegir Concepte</button>
        
        <div class="row">
        <div class="col">{{form_row(form.metodePag)}}</div>
        <div class="col">{{form_row(form.metpagAux)}}</div>
        <div class="col">{{form_row(form.importPendent)}}</div>
        <div class="col">{{form_row(form.importPagat)}}</div>
    </div>
        <h3 class="title-2 mb-3">Vencimientos</h3>
        
        <ul id="FraProformaVto-fields-list"
        data-prototype="{{ form_widget(form.tFraproformaVtos.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.tFraproformaVtos|length }}">
    {% for tFraproformaVto in form.tFraproformaVtos %}
           {{ include('t_fraproforma_vto/_form.html.twig') }}
    {% endfor %}
        </ul>
        <button type="button"
        id="add-FraProfVto"
        class="btn btn-secondary mt-3 mb-3"
        data-list-selector="#FraProformaVto-fields-list">Afegir Venciment</button>
        {{form_row(form.observFraprof)}}
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    

{{ form_end(form) }}


