{% extends 'base.html.twig' %}

{% block title %}Proforma{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="{{asset("./assets/vendor/select2/select2.min.css")}}" rel="stylesheet" media="all">
<link href="{{asset("./assets/css/TFraProformaAux.css")}}" rel="stylesheet" media="all">

{% endblock %}
{% block body %}
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light ">    
                <h1 class="title">Proforma {{ t_fraproforma.numFraprof }}</h1>
            </div>
        </div>
        <div class="table-data__tool-right">
            <a href="{{path("t_ordre_treball_proforma",{"idFraprof":t_fraproforma.idFraProf})}}" class="btn btn-warning">Ordenes de trabajo</a>
            <a href="{{path("t_albara_proforma",{"proforma":t_fraproforma.idFraProf})}}" class="btn btn-success">Emitir Albarán</a>
            
        </div>
    </div>
    
    
    {{ include('t_fraproforma/_form.html.twig', {'button_label': 'Guardar'}) }}

    {{ include('t_fraproforma/_delete_form.html.twig') }}

    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset("./assets/vendor/select2/select2.min.js")}}"></script>
    <script type="text/javascript">
<<<<<<< HEAD
    $(document).ready(function(){
        $('.selectorProducte').select2({
        minimumInputLength: 3,
        width: '100% !important',
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    nomProd: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });
        
        
    })
    function initiateSelect2(element)
         {
        element.select2({
        minimumInputLength: 2,
        width: '100% !important',
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    nomProd: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });  
         }
    </script>
    <script src="{{ asset('assets/js/addCollectionForm.js') }}"></script>
    <script type="text/javascript">
=======
>>>>>>> a5b017be7f73a6ae525faf1eb99e6fec82008c3c
    const $proformawrapper = $('#TFraProformaAuxWrapper');
    const $proformaVtowrapper = $('#TFraProformaVtoWrapper');
    jQuery(document).ready(function () {
        $('.selectorProducte').select2({
                minimumInputLength: 2,
                width: '100% !important',
                ajax: {
                    url: '{{ path("t_productes_get_nomprod")|e("js") }}',
                    data: function (params) {
                        var query = {
                            prod: params.term,
                            type: 'public'
                            
                        }
                        return query;
                    },
                }  
                });
    });

    $("#t_fraproforma_clientFraprof").on("change", function(e){
        $.ajax(
            {
                url: '{{path("t_clients_get_fraprof")|e("js")}}',
                data: 
                {
                    client: e.target.value
                },
                
                complete: function(e){
                    console.log("AJAX Complete")
                },
                success: function(response){
                    console.log("AJAX SUCCESS "+response.client)
                    $("#t_fraproforma_metodePag").val(response.metode);
                    $("#t_fraproforma_metpagAux").val(response.metodeDesc);
                    $("#t_fraproforma_personaFraprof").val(response.persona);
                    $("#t_fraproforma_ivaVar").val(response.iva);
                    $("#t_fraproforma_numFraprof").val(response.numProf)
                }
            }
           
            

        )
    })

    $("#t_fraproforma_clientFraprof").select2({
                    minimumInputLength: 2,
                    ajax: {
                        url: '{{path("t_clients_get")|e("js")}}',
                        data: function(params)
                        {
                            var query = {
                                client: params.term,
                                type: 'public'
                            }
                            return query
                        }
                    }
                })

    $proformawrapper.on('click', '#add-FraProfAux', function(e) {
        e.preventDefault();
        // Get the data-prototype explained earlier
        var prototype = $proformawrapper.data('prototype');
        // get the new index
        var index = $proformawrapper.data('index');
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        // increase the index with one for the next item
        $proformawrapper.data('index', index + 1);
        // Display the form in the page before the "new" link
        $(this).before(newForm);
        $('.selectorProducte').select2({
            minimumInputLength: 3,
            width: '100% !important',
            ajax: {
                url: '{{path("t_productes_get_nomprod")|escape("js")}}',
                data: function (params) {
                    var query = {
                        prod: params.term,
                        type: 'public'
                        
                    }
                    return query;
                },
            }  
            });
    $(".unitProf").keyup((e)=>
    {
        const $wrapper = e.target.parentNode.parentNode;
        const $prod = $wrapper.querySelector("div > div > div:nth-child(2) select")
        const $preuUnit = $wrapper.querySelector("div > div > div:nth-child(5) input")
        const $preuProd = $wrapper.querySelector("div > div > div:nth-child(6) > input")
        

        $.ajax({
            url: "{{ path("t_precios_cantidad_get") }}",
            data: {
                nomProd: $($prod).val(),
                cantidad: e.target.value
            },
            success: function(response)
            {
                $preuUnit.value = response.precio;
                $preuProd.value = e.target.value * $preuUnit.value;
                calcularIva()
            }
        })
        calcularIva();
    })
    $(".preuUnit").keyup((e)=>
    {
        const $wrapper = e.target.parentNode.parentNode;
        const $prod = $wrapper.querySelector("div > div > div:nth-child(2) select")
        const $unitProf = $wrapper.querySelector("div > div > div:nth-child(4) input")
        const $preuUnit = $wrapper.querySelector("div > div > div:nth-child(5) input")
        const $preuProd = $wrapper.querySelector("div > div > div:nth-child(6) > input")
        $preuProd.value = e.target.value * $unitProf.value;
        calcularIva();
    })
    });

    $(".unitProf").keyup((e)=>
    {
        const $wrapper = e.target.parentNode.parentNode;
        const $prod = $wrapper.querySelector("div > div > div:nth-child(2) select")
        const $preuUnit = $wrapper.querySelector("div > div > div:nth-child(5) input")
        const $preuProd = $wrapper.querySelector("div > div > div:nth-child(6) > input")

        
        
        $.ajax({
            url: "{{ path("t_precios_cantidad_get") }}",
            data: {
                nomProd: $($prod).val(),
                cantidad: e.target.value
            },
            success: function(response)
            {
                $preuUnit.value = response.precio;
                
            },
            complete: function()
            {
                $preuProd.value = e.target.value * $preuUnit.value;
            }
        })
        
        calcularIva();

    })
    $(".preuUnit").keyup((e)=>
    {
        const $wrapper = e.target.parentNode.parentNode;
        const $prod = $wrapper.querySelector("div > div > div:nth-child(2) select")
        const $preuUnit = $wrapper.querySelector("div > div > div:nth-child(5) input")
        const $unitProf = $wrapper.querySelector("div > div > div:nth-child(4) input")
        const $preuProd = $wrapper.querySelector("div > div > div:nth-child(6) > input")
        console.log($preuProd);
        $preuProd.value = e.target.value * $unitProf.value;
        calcularIva();
    })
    $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
  function calcularIva(){
     var $nodelist = document.querySelectorAll(".totalProf");
     var nodos = [];
     $nodelist.forEach(e=> {
         nodos.push(e.value);
     })
     nodos = nodos.filter(e => {
         if(e === ""){
             return false
         }
         return true
     })
     $precioSinIva = nodos.reduce((precio, total)=> {
         return parseFloat(precio) + parseFloat(total);
     })

    $iva = document.querySelector("#t_fraproforma_ivaVar").value
     document.querySelector("#t_fraproforma_iva").value = $precioSinIva * ($iva / 100);
     document.querySelector("#t_fraproforma_baseImp").value = $precioSinIva
     document.querySelector("#t_fraproforma_totalFra").value = $precioSinIva + ($precioSinIva * ($iva / 100))
     document.querySelector("#t_fraproforma_importPendent").value = document.querySelector("#t_fraproforma_totalFra").value
  };

    </script>
{% endblock %}