{% extends 'base.html.twig' %}

{% block title %}Proforma{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="{{asset("./assets/vendor/select2/select2.min.css")}}" rel="stylesheet" media="all">
<link href="{{asset("./assets/css/TFraProformaAux.css")}}" rel="stylesheet" media="all">

{% endblock %}
{% block body %}
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light ">    
                <h1 class="title">Proforma {{ t_fraproforma.numFraprof }}</h1>
            </div>
        </div>
        <div class="table-data__tool-right">
            {{ include('t_fraproforma/_delete_form.html.twig') }}
        </div>
    </div>
    
    
    {{ include('t_fraproforma/_form.html.twig', {'button_label': 'Guardar'}) }}

    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset("./assets/vendor/select2/select2.min.js")}}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.selectorProducte').select2({
        minimumInputLength: 3,
        width: '100% !important',
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    nomProd: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });
        
        
    })
    function initiateSelect2(element)
         {
        element.select2({
        minimumInputLength: 3,
        width: '100% !important',
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    nomProd: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });  
         }
    </script>
        <script src="{{asset('./assets/js/add-collection-widget.js')}}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function () {
    jQuery('#add-FraProfAux').click(function (e) {
        var list = jQuery(jQuery(this).attr('data-list-selector'));
        // Try to find the counter of the list or use the length of the list
        var counter = list.data('widget-counter') || list.children().length;
        // grab the prototype template
        var newWidget = list.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/#V#/g, counter);
        console.log(newWidget)
        // Increase the counter
        // create a new list element and add it to the list
        var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
        newElem.appendTo(list);
        console.log(newElem)
        select = $(document.querySelector("select[data-select='"+counter+"']"));
        console.log(select)
        initiateSelect2(select);
        counter++;
        // And store it, the length cannot be used if deleting widgets is allowed
        list.data('widget-counter', counter);
    });
});
    </script>
{% endblock %}
