{% extends 'base.html.twig' %}

{% block title %}Proforma{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="{{asset("./assets/vendor/select2/select2.min.css")}}" rel="stylesheet" media="all">
<link href="{{asset("./assets/css/TFraProformaAux.css")}}" rel="stylesheet" media="all">

{% endblock %}
{% block body %}
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light ">    
                <h1 class="title">Proforma {{ t_fraproforma.numFraprof }}</h1>
            </div>
        </div>
        <div class="table-data__tool-right">
            <a href="#" class="btn btn-warning">Emitir Orden de trabajo</a>
            <a href="#" class="btn btn-success">Emitir Albarán</a>
            
        </div>
    </div>
    
    
    {{ include('t_fraproforma/_form.html.twig', {'button_label': 'Guardar'}) }}

    {{ include('t_fraproforma/_delete_form.html.twig') }}

    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset("./assets/vendor/select2/select2.min.js")}}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        var $wrapper = $('#TFraProformaAuxWrapper');
            $wrapper.on('click', '.removeTFraProformaAux', function(e) {
                e.preventDefault();
                $(this).closest('.TFraProformaAuxItem')
                    .fadeOut()
                    .remove();
            });
        });
        $('.selectorProducte').select2({
        minimumInputLength: 3,
        width: '100% !important',
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    nomProd: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });
        
        
    })
    function initiateSelect2(element)
         {
        element.select2({
        minimumInputLength: 3,
        width: '100% !important',
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    nomProd: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });  
         }
    </script>
        <script src="{{asset('./assets/js/add-collection-widget.js')}}"></script>
{% endblock %}
