{% extends 'base.html.twig' %}

{% block title %}Proformas{% endblock %}

{% block body %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/fh-3.1.6/datatables.min.js"></script>
    <h1 class="title-1">Proformas</h1> <a href="#" class="btn btn-primary">Nueva Proforma</a>
    {% if maxPages > 1 %}
    <ul class="pagination">
        {%if thisPage > 1 %}
            <li class="page-item" >
                <a class="page-link" aria-label="previous" href="{{ path('t_fraproforma_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
            </li>
        {% endif %}

        {# Render each page number #}
        {% for i in 1..maxPages %}
            <li class="page-item {% if thisPage == i %} active {% endif %}">
                <a class="page-link" href="{{ path('t_fraproforma_index', {page: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {# `»` arrow #}
        {%if thisPage < maxPages %}
            <li class="page-item" >
                <a class="page-link" aria-label="next"  href="{{ path('t_fraproforma_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
            </li>
        {% endif %}
    </ul>
    <div class="table-responsive table-responsive-data2 table--no-card m-b-30">
    
{% endif %}
    <table id="t_fraproforma" class="table table-data2 table-borderless">
        <thead>
            <tr class="tr-shadow">
                <th>Proforma</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Nref</th>
                <th>Sref</th>
                <th>TotalFra</th>
            </tr>
        </thead>
        <tbody>
        {% for t_fraproforma in t_fraproformas %}
            <tr>
            <td>{{ t_fraproforma.numFraprof }}</td>
                <td>{{ t_fraproforma.dataFraprof ? t_fraproforma.dataFraprof|date('Y-m-d') : '' }}</td>
                {% if t_fraproforma.clientFraprof is null %}
                <td>Sin Cliente</td>
                {% else %}
                <td>{{ t_fraproforma.clientFraprof.client }}</td>
                {% endif %}
                <td>{{ t_fraproforma.nref }}</td>
                <td>{{ t_fraproforma.sref }}</td>
                <td>{{ t_fraproforma.totalFra }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="36">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('t_fraproforma_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready( function () {
    $('#t_fraproforma').DataTable();
} );
{% endblock %}
