{% extends 'base.html.twig' %}

{% block title %}TFraproforma index{% endblock %}

{% block body %}
    <h1 class="title-1">Listado Proformas</h1>
    {% if maxPages > 1 %}
    <ul class="pagination">
        {%if thisPage > 1 %}
            <li class="page-item" >
                <a class="page-link" aria-label="previous" href="{{ path('t_fraproforma_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
            </li>
        {% endif %}

        {# Render each page number #}
        {% for i in 1..maxPages %}
            <li class="page-item {% if thisPage == i %} active {% endif %}">
                <a class="page-link" href="{{ path('t_fraproforma_index', {page: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {# `»` arrow #}
        {%if thisPage < maxPages %}
            <li class="page-item" >
                <a class="page-link" aria-label="next"  href="{{ path('t_fraproforma_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
            </li>
        {% endif %}
    </ul>
    <div class="table-responsive table--no-card m-b-30">
    
{% endif %}
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>NumFraprof</th>
                <th>DataFraprof</th>
                <th>Cliente</th>
                <th>Nref</th>
                <th>Sref</th>
                <th>Valorada</th>
                <th>TotalFra</th>
                <th>ImportPendent</th>
            </tr>
        </thead>
        <tbody>
        {% for t_fraproforma in t_fraproformas %}
            <tr>
            <td>{{ t_fraproforma.numFraprof }}</td>
                <td>{{ t_fraproforma.dataFraprof ? t_fraproforma.dataFraprof|date('Y-m-d H:i:s') : '' }}</td>
                {% if t_fraproforma.clientFraprof is null %}
                <td>Sin Cliente</td>
                {% else %}
                <td>{{ t_fraproforma.clientFraprof.client }}</td>
                {% endif %}
                <td>{{ t_fraproforma.nref }}</td>
                <td>{{ t_fraproforma.sref }}</td>
                <td>{{ t_fraproforma.valorada ? 'Yes' : 'No' }}</td>
                <td>{{ t_fraproforma.totalFra }}</td>
                <td>{{ t_fraproforma.importPendent }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="36">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('t_fraproforma_new') }}">Create new</a>
{% endblock %}
