{% extends 'base.html.twig' %}

{% block title %}TFraproforma index{% endblock %}

{% block body %}
    <h1 class="title-1">Listado Proformas</h1>
    <div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>NumFraprof</th>
                <th>Cliente</th>
                <th>DataFraprof</th>
                <th>Nref</th>
                <th>Sref</th>
                <th>Valorada</th>
                <th>TotalFra</th>
                <th>ImportPendent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_fraproforma in t_fraproformas %}
            <tr>
            <td>{{ t_fraproforma.numFraprof }}</td>
                <td>{{ t_fraproforma.dataFraprof ? t_fraproforma.dataFraprof|date('Y-m-d H:i:s') : '' }}</td>
                {% if t_fraproforma.clientFraprof is null %}
                <td>Sin Cliente</td>
                {% else %}
                <td>{{ t_fraproforma.clientFraprof.client }}</td>
                {% endif %}
                <td>{{ t_fraproforma.nref }}</td>
                <td>{{ t_fraproforma.sref }}</td>
                <td>{{ t_fraproforma.valorada ? 'Yes' : 'No' }}</td>
                <td>{{ t_fraproforma.totalFra }}</td>
                <td>{{ t_fraproforma.importPendent }}</td>
                <td>
                    <a href="{{ path('t_fraproforma_show', {'idFraprof': t_fraproforma.idFraprof}) }}">show</a>
                    <a href="{{ path('t_fraproforma_edit', {'idFraprof': t_fraproforma.idFraprof}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="36">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('t_fraproforma_new') }}">Create new</a>
{% endblock %}
