{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<link href="{{asset('./assets/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
{% endblock %}
{% block title %}Proformas{% endblock %}

{% block body %}
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">    
                <h1 class="title-1">Proformas</h1>

            </div>

        </div>
        <div class="table-data__tool-right">
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>Filtrar Resultados</button>
            <a href="{{ path('t_fraproforma_download') }}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>Exportar a PDF</a>
            <a href="{{ path('t_fraproforma_new') }}" class="au-btn au-btn-icon au-btn--green au-btn--small">
            <i class="zmdi zmdi-plus"></i>Crear Proforma</a>
        </div>
    </div>
    {% if maxPages > 1 %}
    <ul class="pagination">
        {% if thisPage > 1 %}
            <li class="page-item" >
                <a class="page-link" aria-label="previous" href="{{ path('t_fraproforma_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
            </li>
        {% endif %}
        <li class="page-item ">
                <a class="page-link" href="{{ path('t_fraproforma_index', {page: 2}) }}">Primera</a>
            </li>

        {# Render each page number #}
        {% for i in thisPage.. thisPage + 5 %}
            {% if i <= maxPages %}
            <li class="page-item {% if thisPage == i %} active {% endif %}">
                <a class="page-link" href="{{ path('t_fraproforma_index', {page: i}) }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
<li class="page-item ">
                <a class="page-link" href="{{ path('t_fraproforma_index', {page: maxPages}) }}">Última</a>
            </li>
        {# `»` arrow #}
        {% if thisPage < maxPages %}
            <li class="page-item" >
                <a class="page-link" aria-label="next"  href="{{ path('t_fraproforma_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
            </li>
        {% endif %}
    </ul>
    
    
{% endif %}
<div class="table-responsive table-responsive-data2 table--no-card m-b-30">
    
    <table id="t_fraproforma" class="table table-data2 table-borderless table-striped table-hover">
        <thead>
            <tr class="tr-shadow">
                <th class="w-auto" scope="col">Proforma</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Nostra Ref.</th>
                <th>Seva Ref</th>
                <th>Total Proforma</th>
            </tr>

        </thead>
        
        <tbody>
        <tr>
            <td class="w-25"><select id="tFraProformaFilter" class="form-control" name="numProf"><option placeholder="Bscar Proforma">Empieza a buscar...</option></select></td>
            <td><form method="GET" ><input name="fechaProforma" type="text" placeholder="Buscar por fecha"></form></td>
            <td class="w-25">Cliente</td>
            <td>Nref</td>
            <td class="w-25">Sref</td>
            <td>Total</td>
        </tr>
        {% for t_fraproforma in t_fraproformas %}
            <tr>
            <td class="w-auto" scope="row"><a href="{{ path("t_fraproforma_edit",{"idFraprof":t_fraproforma.IdFraProf }) }}"> {{ t_fraproforma.numFraprof }}</a></td>
                <td >{{ t_fraproforma.dataFraprof ? t_fraproforma.dataFraprof|date('Y-m-d') : '' }}</td>
                {% if (t_fraproforma
                .clientFraprof is null or t_fraproforma.clientFraprof.IdCli == 0) %}
                <td>Sin Cliente</td>
                {% else %}
                <td><a href="{{ path("t_clients_edit",{"idCli": t_fraproforma.clientFraprof.IdCli}) }}"> {{ t_fraproforma.clientFraprof.client }}</a></td>
                {% endif %}
                <td>{{ t_fraproforma.nref }}</td>
                <td>{{ t_fraproforma.sref }}</td>
                <td>{{ t_fraproforma.totalFra }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="36">No se han encontrado Proformas.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('assets/js/addCollectionForm.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#tFraProformaFilter').select2({
        minimumInputLength: 3,
        ajax: {
            url: '{{path("t_fraproformas_numprof")|escape("js")}}',
            data: function (params) {
                var query = {
                    numProf: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });

    $("#tFraProformaFilter").on("change", function(){
        window.location = "/t/fraproforma/"+this.value+"/edit";
        
    })
    })
    </script>
    
{% endblock %}
