{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{asset('./assets/css/TFraProformaAux.css')}}" rel="stylesheet" media="all">
<link href="{{asset('./assets/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
{% endblock %}
{% block title %}Nueva Proforma{% endblock %}

{% block body %}
    <h1>Crear Nueva Proforma</h1>

    {{ include('t_fraproforma/_form.html.twig') }}

    <a href="{{ path('t_fraproforma_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset("./assets/vendor/select2/select2.min.js")}}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.selectorProducte').select2({
        minimumInputLength: 3,
        width: '100% !important',
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    nomProd: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });
        
        
    })
    function initiateSelect2(element)
         {
        element.select2({
        minimumInputLength: 3,
        width: '100% !important',
        ajax: {
            url: '{{path("t_productes_get_nomprod")|escape("js")}}',
            data: function (params) {
                var query = {
                    nomProd: params.term,
                    type: 'public'
                    
                }
                return query;
            },
        }  
        });  
         }
    </script>
    <script src="{{ asset('assets/js/addCollectionForm.js') }}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function () {
        $('.selectorProducte').select2({
                minimumInputLength: 3,
                width: '100% !important',
                ajax: {
                    url: '{{path("t_productes_get_nomprod")|escape("js")}}',
                    data: function (params) {
                        var query = {
                            nomProd: params.term,
                            type: 'public'
                            
                        }
                        return query;
                    },
                }  
                });
    });

    $("#t_fraproforma_clientFraprof").on("change", function(e){
        $.ajax(
            {
                url: '{{path("t_clients_get_fraprof")|e("js")}}',
                data: 
                {
                    client: e.target.value,
                    FraProf: {{t_fraproforma.idFraProf}}
                },
                
                complete: function(e){
                    console.log("AJAX Complete")
                },
                success: function(response){
                    console.log("AJAX SUCCESS "+response.client)
                    $("#t_fraproforma_metodePag").val(response.metode);
                    $("#t_fraproforma_metpagAux").val(response.metodeDesc);
                    $("#t_fraproforma_personaFraprof").val(response.persona);
                    $("#t_fraproforma_ivaVar").val(response.iva);
                    $("#t_fraproforma_numFraprof").val(response.numProf)
                    setFraProformaVto(response.metode)
                }
            }
           
            

        )
    })

    function setFraProformaVto(metode)
    {
        switch(metode){
            case 1:
            console.log("1");
            break;
            case 2:
            console.log("2");
            break;
        }
    }


});
    </script>
{% endblock %}