{% extends 'base.html.twig' %}

{% block title %}TAlbara index{% endblock %}

{% block body %}
    <h1>TAlbara index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Albarán</th>
                <th>Fecha Albaran</th>
                <th>Fecha Salida</th>
                <th>Facturable</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for t_albara in t_albaras %}
            <tr>
                <td>{{ t_albara.nomClientAlbara }}</td>
                <td>{{ t_albara.numAlbara }}</td>
                <td>{{ t_albara.dataAlbara ? t_albara.dataAlbara|date('Y-m-d') : '' }}</td>
                <td>{{ t_albara.dataSortidaAlbara ? t_albara.dataSortidaAlbara|date('Y-m-d') : '' }}</td>
                <td>{{ t_albara.facturableAlbara }}</td>
                <td>
                    <a href="{{ path('t_albara_show', {'idAlbara': t_albara.idAlbara}) }}">show</a>
                    <a href="{{ path('t_albara_edit', {'idAlbara': t_albara.idAlbara}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_albara_new') }}">Create new</a>
{% endblock %}
