{% extends 'base.html.twig' %}

{% block title %}TAlbara index{% endblock %}

{% block body %}
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--lg">    
                <h1 class="title-1">Albaranes</h1>
            </div>
        </div>
        <div class="table-data__tool-right">
            <a href="{{ path('t_albara_new') }}" class="au-btn au-btn-icon au-btn--green au-btn--small">
            <i class="zmdi zmdi-plus"></i>Crear Albaran</a>
        </div>
    </div>
    {% if maxPages > 1 %}
    <ul class="pagination">
        {% if thisPage > 1 %}
            <li class="page-item" >
                <a class="page-link" aria-label="previous" href="{{ path('t_albara_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
            </li>
        {% endif %}
        <li class="page-item ">
                <a class="page-link" href="{{ path('t_albara_index', {page: 2}) }}">Primera</a>
            </li>

        {# Render each page number #}
        {% for i in thisPage.. thisPage + 5 %}
            {% if i <= maxPages %}
            <li class="page-item {% if thisPage == i %} active {% endif %}">
                <a class="page-link" href="{{ path('t_albara_index', {page: i}) }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
<li class="page-item ">
                <a class="page-link" href="{{ path('t_albara_index', {page: maxPages}) }}">Última</a>
            </li>
        {# `»` arrow #}
        {% if thisPage < maxPages %}
            <li class="page-item" >
                <a class="page-link" aria-label="next"  href="{{ path('t_albara_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
            </li>
        {% endif %}
    </ul>
    
    
{% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Albarán</th>
                <th>Fecha Albaran</th>
                <th>Fecha Salida</th>
                <th>Facturable</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for t_albara in t_albaras %}
            <tr>
                <td>{{ t_albara.nomClientAlbara }}</td>
                <td>{{ t_albara.numAlbara }}</td>
                <td>{{ t_albara.dataAlbara ? t_albara.dataAlbara|date('Y-m-d') : '' }}</td>
                <td>{{ t_albara.dataSortidaAlbara ? t_albara.dataSortidaAlbara|date('Y-m-d') : '' }}</td>
                <td>{{ t_albara.facturableAlbara }}</td>
                <td>
                    <a href="{{ path('t_albara_show', {'idAlbara': t_albara.idAlbara}) }}">show</a>
                    <a href="{{ path('t_albara_edit', {'idAlbara': t_albara.idAlbara}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_albara_new') }}">Create new</a>
{% endblock %}
