{% extends 'base.html.twig' %}

{% block title %}Nuevo Albaran{% endblock %}

{% block body %}
    <div class="table-data__tool">
            <div class="table-data__tool-left">
                <div class="rs-select2--light ">    
                    <h1 class="title">Nuevo Albarán</h1>
                </div>
            </div>

    </div>

    {{ include('t_albara/_form.html.twig') }}

    <a href="{{ path('t_albara_index') }}">back to list</a>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="{{asset('./assets/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset("./assets/vendor/select2/select2.min.js")}}"></script>
    <script type="text/javascript">
    const $AlbaraAuxWrapper = $('#AlbaraAuxWrapper');
    jQuery(document).ready(function () {
        $('.selectorProducte').select2({
                minimumInputLength: 2,
                width: '100% !important',
                ajax: {
                    url: '{{ path("t_productes_get_nomprod")|e("js") }}',
                    data: function (params) {
                        var query = {
                            prod: params.term,
                            type: 'public'
                            
                        }
                        return query;
                    },
                }  
                });
                $("#t_albara_clientAlbara").select2({
                    minimumInputLength: 2,
                    ajax: {
                        url: '{{path("t_clients_get")|e("js")}}',
                        data: function(params)
                        {
                            var query = {
                                client: params.term,
                                type: 'public'
                            }
                            return query
                        }
                    }
                })
    });


    

    $AlbaraAuxWrapper.on('click', '#add-AlbaraAux', function(e) {
        e.preventDefault();
        // Get the data-prototype explained earlier
        var prototype = $AlbaraAuxWrapper.data('prototype');
        // get the new index
        var index = $AlbaraAuxWrapper.data('index');
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        // increase the index with one for the next item
        $AlbaraAuxWrapper.data('index', index + 1);
        // Display the form in the page before the "new" link
        $(this).before(newForm);
        $('.selectorProducte').select2({
            minimumInputLength: 3,
            width: '100% !important',
            ajax: {
                url: '{{path("t_productes_get_nomprod")|escape("js")}}',
                data: function (params) {
                    var query = {
                        prod: params.term,
                        type: 'public'
                        
                    }
                    return query;
                },
            }  
            });
    $(".unitAlbara").keyup((e)=>
    {
        const $wrapper = e.target.parentNode.parentNode;
        const $prod = $wrapper.querySelector("div > div > div:nth-child(2) select")
        const $preuUnitFact = $wrapper.querySelector("div > div > div:nth-child(5) input")
        const $totalAuxFCT = $wrapper.querySelector("div > div > div:nth-child(6) > input")
        console.log($prod);
        console.log($preuUnitFact);
        console.log($totalAuxFCT);

        $.ajax({
            url: "{{ path("t_precios_cantidad_get") }}",
            data: {
                nomProd: $($prod).val(),
                cantidad: e.target.value
            },
            success: function(response)
            {
                $preuUnitFact.value = response.precio;
                $totalAuxFCT.value = e.target.value * $preuUnitFact.value;
                calcularIva()
            }
        })
        calcularIva();
    })
    $(".preuUnitAlbara").keyup((e)=>
    {
        const $wrapper = e.target.parentNode.parentNode;
        const $prod = $wrapper.querySelector("div > div > div:nth-child(2) select")
        const $unitFact = $wrapper.querySelector("div > div > div:nth-child(4) input")
        const $preuUnitFact = $wrapper.querySelector("div > div > div:nth-child(5) input")
        const $totalAuxFCT = $wrapper.querySelector("div > div > div:nth-child(6) > input")
        $totalAuxFCT.value = e.target.value * $unitFact.value;
        calcularIva();
    })
    });

    $(".unitAlbara").keyup((e)=>
    {
        const $wrapper = e.target.parentNode.parentNode;
        const $prod = $wrapper.querySelector("div > div > div:nth-child(2) select")
        const $preuUnitFact = $wrapper.querySelector("div > div > div:nth-child(5) input")
        const $totalAuxFCT = $wrapper.querySelector("div > div > div:nth-child(6) > input")

        
        
        $.ajax({
            url: "{{ path("t_precios_cantidad_get") }}",
            data: {
                nomProd: $($prod).val(),
                cantidad: e.target.value
            },
            success: function(response)
            {
                $preuUnitFact.value = response.precio;
                
            },
            complete: function()
            {
                $totalAuxFCT.value = e.target.value * $preuUnitFact.value;
            }
        })
        
        calcularIva();

    })
    $(".preuUnitAlbara").keyup((e)=>
    {
        const $wrapper = e.target.parentNode.parentNode;
        const $prod = $wrapper.querySelector("div > div > div:nth-child(2) select")
        const $preuUnitFact = $wrapper.querySelector("div > div > div:nth-child(5) input")
        const $unitFact = $wrapper.querySelector("div > div > div:nth-child(4) input")
        const $totalAuxFCT = $wrapper.querySelector("div > div > div:nth-child(6) > input")
        $totalAuxFCT.value = e.target.value * $unitFact.value;
        calcularIva();
    })
    $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
  function calcularIva(){
     var $nodelist = document.querySelectorAll(".totalAlbara");
     var nodos = [];
     $nodelist.forEach(e=> {
         nodos.push(e.value);
     })
     nodos = nodos.filter(e => {
         if(e === ""){
             return false
         }
         return true
     })
     $precioSinIva = nodos.reduce((precio, total)=> {
         return parseFloat(precio) + parseFloat(total);
     })
  };

    </script>
{% endblock %}
