{% extends 'base.html.twig' %}

{% block title %}TEmpreses index{% endblock %}

{% block body %}
    <h1>TEmpreses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marca</th>
                <th>Empresa</th>
                <th>Titular</th>
                <th>Nif</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_emprese in t_empreses %}
            <tr>
                <td>{{ t_emprese.id }}</td>
                <td>{{ t_emprese.marca }}</td>
                <td>{{ t_emprese.empresa }}</td>
                <td>{{ t_emprese.titular }}</td>
                <td>{{ t_emprese.nif }}</td>
                <td>
                    <a href="{{ path('t_empreses_show', {'id': t_emprese.id}) }}">show</a>
                    <a href="{{ path('t_empreses_edit', {'id': t_emprese.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">Sin Datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_empreses_new') }}">Create new</a>
{% endblock %}
