<div class="form-row">
    <div class="form-group col">
      {{form_label(tFraproformaAux.numLinia)}}
    </div>
    <div class="form-group col-md-4">
      {{form_label(tFraproformaAux.codprodProforma)}}
    </div>
    <div class="form-group col-md-4">
      {{form_label(tFraproformaAux.descripprodProforma)}}
    </div>
    <div class="form-group col">
      {{form_label(tFraproformaAux.numunitProforma)}}
    </div>
    <div class="form-group col">
      {{form_label(tFraproformaAux.preuunitProforma)}}
    </div>
    <div class="form-group col">
      {{form_label(tFraproformaAux.preuProforma)}}
    </div>
  </div>
  <div class="row TFraProformaAuxItem">
    <div class="form-row">
      <div class="form-group col">
        {{form_widget(tFraproformaAux.numLinia)}}
      </div>
      <div class="form-group col-md-4">
        {{form_widget(tFraproformaAux.codprodProforma)}}
      </div>
      <div class="form-group col-md-4">
        {{form_widget(tFraproformaAux.descripprodProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.numunitProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.preuunitProforma)}}
      </div>
      <div class="form-group col">
        {{form_widget(tFraproformaAux.preuProforma)}}
      </div>
      <div class="col">
              <a href="#" class="removeTFraProformaAux pull-right">
                  <span class="fa fa-close"></span>
              </a>
          </div>
    </div>
  </div>

