{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">    
                <h1 class="title-1">Clientes</h1>

            </div>

        </div>
        <div class="table-data__tool-right">
            <a href="{{path("t_clients_facturas",{"idCli":t_client.idCli})}}" class="au-btn au-btn-icon au-btn--blue au-btn--small">
                <i class="zmdi zmdi-plus"></i>Ver Facturas</a>
            <a href="{{path("t_clients_proformas",{"idCli":t_client.idCli})}}" class="au-btn au-btn-icon au-btn--green au-btn--small">
            <i class="zmdi zmdi-plus"></i>Ver Proformas</a>
        </div>
    </div>

    {{ include('t_clients/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_clients_index') }}">back to list</a>

    {{ include('t_clients/_delete_form.html.twig') }}
{% endblock %}
