{% extends 'base.html.twig' %}

{% block title %}TClients index{% endblock %}

{% block body %}
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">    
                <h1 class="title-1">Clients</h1>

            </div>

        </div>
        <div class="table-data__tool-right">
            <a href="{{ path('t_clients_new') }}" class="au-btn au-btn-icon au-btn--green au-btn--small">
            <i class="zmdi zmdi-plus"></i>Crear Client</a><a ></a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Agente Comercial</th>
                <th>Teléfono</th>
                <th>Móvil</th>
            </tr>
        </thead>
        <tbody>
        {% for t_client in t_clients %}
            <tr>
                <td><a href="{{path("t_clients_edit",{"idCli":t_client.IdCli})}}">{{ t_client.client }}</a></td>
                <td><a href="{{path("t_clients_edit",{"idCli":t_client.IdCli})}}">{{ t_client.getNumAgentComercial ? t_client.getNumAgentComercial.getNomComercial : "Sense Comercial" }}</a></td>
                
                <td>{{ t_client.getTelfraCli }}</td>
                <td>{{ t_client.getMobfraCli }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="72">No se han encontrado clientes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}

